<app-navbar></app-navbar>

<button id="btn-clickeame" class="btn btn-outline-primary" (click)='onButtonClick()'>Clickeame</button>
<div class="container">
    <app-body class="Container m-4"></app-body>
</div>
<button id="btn-verde" class="btn btn-outline-success" (click)='myChangeColor()'>Verde</button>
<p id="try" class="bonito" > <b>Que bonito es lo bonito{{nombre}}</b></p>
<div></div>
<button class="randomButton" (click)='mensajeRandom()'>EsperoFuncione </button>
<button id="clickme">click me</button>
<app-footer></app-footer>