<nav class="navbar navbar-expand-lg navbar-light bg-light">

    
        <a class="navbar-brand" routerLinkActive="Active" routerLink="['/signin']">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="Active" routerLink="/signin">Iniciar Sesión </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="Active" routerLink="/signup">Registrarse</a>
              </li>
            </ng-container>

            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.logOut()" >Cerrar Sesión</a>
              </li>
            </ng-template>

            <li class="nav-item">
              <a class="nav-link disabled" routerLinkActive="Active" routerLink="/tasks" tabindex="-1" aria-disabled="true">Administración</a>
            </li>
          </ul>
        </div>
  </nav>